header{
    position: sticky;
    top: 0;
    z-index: 1;
    nav{
        background-color:  nth($paleta, 3);
        border-bottom: 1px solid nth($paleta, 4);
        div{
            a{
                color: nth($paleta, 4) !important;
                img{
                    margin-left: 3px;
                    margin-right: 3px;
                }
            }
            div{
                ul{
                    li{
                        .enlace{
                            font-size: nth($font-size, 1);
                            padding: 5px;
                            margin: 5px;
                            transition: 0.5s;
                            &:hover{
                                transform: scale(1.2);
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
}