.hero{
    background-color: $bg-hero;
    width: 100%;
    .hero-contenedor{
        width: 75%;
        margin: auto;
        position: relative;
        font-size: 0px;
        @include flex (flex, row, start, center);
        div{
            position: absolute;
            height: 65%;
            width: 50%;
            margin-left: 40px;
            @include flex (flex, column, center, center);
            h1{
                text-align: center;
                margin: auto;
                font-weight: 500;
                font-size: nth($font-size, 6);
                @include flex (flex, column, center, center);
                span{
                    font-size: nth($font-size,6)/1.8;
                }
            }
            p{
                text-align: center;
                width:75%;
                margin: auto;
                font-weight: 300;
                font-size: nth($font-size, 3);
            }
        }
        img{
            width: 75vw;
        }
        .imagen-vertical{
            display: none;
        }
    }
}

.index-primera{
    background-color: nth($paleta, 6);
    text-align: center;
    @include flex (flex, row, space-evenly, center);
    div{
        margin-bottom: 20px;
        h2{
            font-size: nth($font-size, 2);
            margin: 20px;
        }
        div{
            transition: 0.5s;
            &:hover{
                transform: scale(1.1);
            }
            a{
                color: nth($paleta, 4);
                background-color: nth($paleta, 3);
                border-radius: $bd-radius;
                font-size: nth($font-size, 1);
                margin: 5px;
                padding: 10px;
            }
        }
    }
}

.index-segunda{
    background-color: nth($paleta, 1);
    text-align: center;
    @include flex (flex, column, center, center);
    p{
        width: 65%;
        font-size: nth($font-size, 4);
        font-weight: 300;
        margin:30px;
    }
    div{
        width: 100%;
        @include flex (flex, row, space-evenly, center);
        flex-wrap: wrap;
        img{
            margin: 40px;
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: $bd-radius;
            @extend %sombra;
        }
    }
}

.index-tercera{
    padding: 60px;
    background-color: nth($paleta, 6);
    text-align: center;
    @include flex (flex, row, space-evenly, center);
    flex-wrap: wrap;
    a{
        color: nth($paleta, 4);
        width: 345px;
        margin: 30px;
        div{
            height: 500px;
            background: linear-gradient(0deg, rgba(207,193,180,1) 0%, rgba(166,156,146,1) 84%);
            border-radius: 20px;
            @include flex(flex, column, space-between, center);
            transition: 0.8s;
            &:hover{
                transform: scale(1.05);
                @extend %sombra;
            }
            h3{
                font-size: nth($font-size, 4);
                margin-top: 20px;
            }
            p{
                font-size: nth($font-size, 2);
                margin: auto 20px;
            }
            img{
                width: 250px;
                height: 250px;
                margin-bottom: 20px;
                border-radius: $bd-radius;
                @extend %sombra;
            }
        }
    }
}