.nosotros{
    height: 100%;
    background-color: nth($paleta, 6);
    text-align: center;
    @include flex (flex, column, start, center);
    h1{
        font-size: nth($font-size, 7);
        margin: 30px;
        padding: 20px;
    }
    .nosotros-taller{
        margin: 20px;
        padding: 20px;
        text-align: start;
        @include flex (flex, row, center, center);
        img{
            margin: 20px;
            width: 30%;
            border-radius: $bd-radius;
            @extend %sombra;
        }
        p{
            font-size: nth($font-size, 4);
            width: 40%;
            margin: 30px;
        }
    }
}
.nosotros-artisas{
    @include flex(flex, row, center, space-between);
    flex-wrap: wrap;
    div{
        @include flex(flex, column, center, center);
        text-align: center;
        width: 345px;
        margin: 40px;
        h2{
            margin-bottom: 10px;
            font-size: nth($font-size, 6);
        }
        img{
            margin: 10px;
            width: 70%;
            border-radius: $bd-radius;
            @extend %sombra
        }
    }
}
