@media screen and (max-width:1550px){
    .hero{
        .hero-contenedor{
            div{
                p{
                    font-size: nth($font-size, 2);
                }
            }
        }
    }
    .index-segunda{
        p{
        font-size: nth($font-size, 2);
        }
        div{
            img{
                width: 250px;
                height: 250px;
            }
        }
    }
    .galeria-primera{
        img{
            width: 80%;
            height: 500px;
        }
    }
    .galeria-segunda-contenedor{
        padding: 75px; ;
        display: grid;
        grid-auto-rows: 200px;
        grid-template-columns: repeat(4,1fr);
        gap: 30px;
        grid-template-areas: 
        "uno dos tres tres"
        "uno dos tres tres"
        "cuatro cuatro cuatro cuatro"
        "cinco cinco seis seis"
        "cinco cinco seis seis"
        "siete siete siete siete"
        "ocho nueve diez diez"
        "ocho nueve diez diez"
        ;
    }
    .nosotros{
        .nosotros-taller{ 
            p{
                font-size: nth($font-size, 2);
            }
        }
    }
    .contacto-contenedor-primera{
        @include flex (flex, column, center, center);
        .contacto-contenedor-primera-numero{
            height: 550px;
            width: 100%;
            flex-direction: row;
            div{
                h1{
                    font-size: nth($font-size, 5);
                }
            }
            div{
                width: 50%;
                h2{
                    font-size: nth($font-size, 5);
                }
                p{
                    font-size: nth($font-size, 2);
                    width: 90%;
                }
            }
        }
        .contacto-contenedor-primera-fomulario{
            form{
                margin: 40px;
            }
        }
    }
}

@media screen and (max-width:1350px){
    .hero{
        .hero-contenedor{
            width: 100%;
            img{
                width: 100vw;
            }
        }
    }
    .productos-macetas{
        flex-direction: column;
    }
    .revers{
        h2{
            order: 0;
        }
    }
    .contacto-contenedor-primera{
        .contacto-contenedor-primera-fomulario{
            width: 70%;
        }
    }
}

@media screen and (max-width:1150px){
    .galeria-segunda-contenedor{
        padding: 75px; ;
        display: grid;
        grid-auto-rows: 200px;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        grid-template-areas: 
        "uno dos tres"
        "cuatro cuatro tres"
        "cinco cinco seis"
        "cinco cinco seis"
        "siete siete siete"
        "ocho nueve diez"
        "ocho nueve diez"
        ;
    }
    .nosotros{
        h1{
            margin: 15px;
        }
        .nosotros-taller{
        flex-direction: column;
        text-align: center;
            img{
                width: 320px;
                margin: 0;
            }
            p{
                width: 75%;
            }
        }
    }  
}

@media screen and (max-width:1000px){
    .hero{
        .hero-contenedor{
            @include flex(flex, row, center, end);
            div{
                @include flex(flex, column, space-between, center);
                margin: 0;
                height: 100%;
                h1{
                    margin: 0;
                    padding-top: 25px;
                }
                p{
                    width: 100%;
                    margin: 0;
                    padding-bottom: 25px;
                }
            }
            img{
                display: none;
            }
            .imagen-vertical{
                display: inline;
                width: 70%;
                
            }
        }
    }
    .galeria-segunda-contenedor
    div{
        p{
            font-size: nth($font-size, 4);
        }
    }
    .contacto-contenedor-primera{
        .contacto-contenedor-primera-numero{
            flex-direction: column;
            height: auto;
        }
    }
}

@media screen and (max-width:991px){
    .navbar-collapse{
        border: 1px solid #4B443F;
    }
    .contacto-contenedor-primera{
        .contacto-contenedor-primera-fomulario{
            width: 90%;
        }
    }
}

@media screen and (max-width:900px){
    .galeria-primera{
        img{
            width: 85%;
        }
    }
    .galeria-segunda-contenedor{
        padding: 75px; ;
        display: grid;
        grid-auto-rows: 200px;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        grid-template-areas: 
        "uno dos "
        "tres cuatro"
        "tres cuatro"
        "cinco seis"
        "siete ocho"
        "siete ocho"
        "nueve diez"
        ;
    }
}


@media screen and (max-width:825px){
    .hero{
        .hero-contenedor{
            div{
                width: 75%;
            }
            .imagen-vertical{
                width: 100%;
            }
        }
    }
    .contacto-contenedor-primera{
        .contacto-contenedor-primera-fomulario{
            width: 100%;
            form{
                margin: 20px;
                padding: 20px;
            }
        }
    }
}

@media screen and (max-width:750px){
    .index-segunda{
        p{
            width: 80%;
        }
    }
    .galeria-primera{
        img{
            height: 300px;
        }
    }
}

@media screen and (max-width:700px){
    .index-segunda{
        p{
            font-size: nth($font-size, 1);
            font-weight: 300;
        }
    }
    .galeria-segunda-contenedor{
        padding: 35px;
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
        grid-template-areas: 
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco"
        "seis"
        "siete"
        "ocho"
        "nueve"
        "diez"
        ;
        div{
            padding: 30px;
        }
    }
}

@media screen and (max-width:680px){
    .index-segunda{
        div{
            img{
                margin:  15px;
            }
        }
    }
    .contacto-contenedor-primera{
        .contacto-contenedor-primera-numero{
            div{
                width: 100%;
                padding: 20px;
            }
        }
    }
}


@media screen and (max-width:560px){
    .hero{
        .hero-contenedor{
            div{
                width: 100%;
                h1{
                    font-size: nth($font-size, 4);
                    span{
                        font-size: nth($font-size, 4)/1.8;
                    }
                }
                p{
                    margin-left:25px;
                    margin-right: 25px;
                    font-size: nth($font-size, 1);
                }
            }
        }
    }
    .index-tercera{
        padding: 60px 0;
    }
    .nosotros{
        h1{
            margin: 0;
        }
        .nosotros-taller{
            margin: 0;
            p{
                width: 100%;
            }
        }
    }
}


@media screen and (max-width:500px){
    .index-primera{
        flex-direction: column-reverse;
    }
    .galeria-primera{
        img{
            height: 200px;
        }
    }
    .nosotros{
        .nosotros-taller{
            p{
                font-size: 17px;
                font-weight: 300;
            }
        }
    }
    .contacto-contenedor-primera{
        .contacto-contenedor-primera-numero{
            div{
                h1{
                    font-size: nth($font-size, 5);
                }
                h2{
                    font-size: nth($font-size, 5);
                }
                p{
                    font-size: nth($font-size, 1);
                    margin: 0;
                }
                iframe{
                    margin-top: 10px;
                }
            }
        }
    }
}

@media screen and (max-width:450px){
    .index-segunda{
        p{
            width: 90%;
            font-size: nth($font-size, 1);
        }
    }
    .nosotros{
        .nosotros-taller{
            img{
                width: 280px;
            }
        }
    }
}


@media screen and (max-width:430px){
    .hero{
        .hero-contenedor{
            div{
                h1{
                    font-size: nth($font-size, 3);
                    span{
                        font-size: nth($font-size, 3)/1.8;
                    }
                }
                p{
                    font-size: nth($font-size, 1);
                    font-weight: 300;
                }
            }
        }
    }
    .galeria-segunda-contenedor{
        div{
            p{
                font-size:nth($font-size, 3);    
            }
        }
    }
    .contacto-contenedor-primera{
        .contacto-contenedor-primera-numero{
            div{
                iframe{
                    width: 100%;
                }
            }
        }
    }
}



